@import "./library/component.css";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #EFF6FF;
}


#wrapper{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.separator{
    width: 80%;
    margin: auto;
    background-color: #DDD6FE;
    padding-top: 0.3rem;
}

.content{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.code_snippet{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#import{
    font-size: 13px;
    padding:var(--padding-md);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-style: none;
    border-radius: 1rem;
    background-color: #F3F4F6;
    box-shadow: 0 8px 6px -2px #E5E7EB;
}

.code-snippet__container{
    width: 95%;
    height: max-content;
    overflow-x: auto;
    margin: 0.5rem 0;
}

.code{
    width: 100%; 
    padding: 0;
    border:0; 
    display: block;
    z-index: 1;
}

/*  page 2 starts here */

#avatar-page{
    height: 100vh;
    width:80%;
    margin: auto;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-btn{
    margin-top:1rem;
}

.top-btn a > button{
    height: 4rem;
    font-size: 1rem;
    margin-bottom:1rem;
    background-color: blue;
    transition: var(--speed-md);
    transition-property: all;
    cursor: pointer;
}

.top-btn a > button:hover{
    width: 8rem;
    background-color: #EF4444;
}

.avatar-showcase__container{
    margin-top: var(--padding-md);
    padding: var(--padding-md);
    height: max-content;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: none;
    border-radius: 1rem;
    background-color: #E0E7FF;
    box-shadow: 0 8px 6px -2px #BFDBFE;
}

.demo{
    display: flex;
    flex-direction: column;
}

.demo .description-avatar{
    margin-top: 2rem;
    height:max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.txt{
    word-spacing: 4px;
    line-height: 2;
}

.syntax{
    display: inline;
    padding: 0rem 0.3rem 0.1rem 0.3rem;
    border-radius: 0.3rem;
    background-color: #A5B4FC;
    font-weight: bold;
    font-family: var(--txt-font-secondary);
}

.highlight{
    display: inline;
    padding: 0rem 0.3rem 0.1rem 0.3rem;
    border-radius: 0.3rem;
    background-color: #374151;
    color: white;
    font-weight: bold;
}


@media all and (max-width: 740px){

    .navbar{
        border-radius: 0;
    }
    .sidebar_container{
        width:100%;
    }
    .sidebar{
        border-radius: 0;;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    .content{
        width: 100%;
        height: 80vh;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .code-snippet__container{
        width: 100%;
        overflow-x: auto;
        position: relative;
        z-index: 0;
    }
    .code{
        width: 100%; 
        height:max-content; 
        border:0; 
        display: block;
    }
    a{
        font-size: 10px;
    }
    .sidebar_item > button > img{
        margin-right: 0.4rem;
    }
}