@import "./library/component.css";
*{
    margin:0;
    padding:0;
    box-sizing:border-box
}
body{
    background-color: #EFF6FF;
}
.wrapper{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

img{
    height: 40px;
}

.sidebar_item > button{
    padding: var(--padding-sm);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}


.sidebar_item > button > img{
    height: 20px;
}

a{
    font-size: 13px; 
    color:black;
    text-decoration: none;
    font-family: var(--txt-font-secondary);  
    font-weight: bold;
}
.content{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sidebar_item > button{
    height: 50px;
    width: 100%;
    border-style: solid;
    border-color: #374151;
    background-color: transparent;
    border-radius: 0.5rem;
    transition: var(--speed);
    transition-property: all;
    font-size: 10px;
}
.sidebar_item > button:hover{
    background-color: #DBEAFE;
}
.code_snippet{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#import{
    font-size: 13px;
    padding:var(--padding-md);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-style: none;
    border-radius: 1rem;
    background-color: #F3F4F6;
    box-shadow: 0 8px 6px -2px #E5E7EB;
}
.code-snippet__container{
    width: 95%;
    height: max-content;
    overflow-x: auto;
    margin: 0.5rem 0;
}
.code{
    width: 100%; 
    padding: 0;
    border:0; 
    display: block;
    z-index: 1;
}
@media all and (max-width: 740px){

    .navbar{
        border-radius: 0;
    }
    .sidebar_container{
        width:100%;
    }
    .sidebar{
        border-radius: 0;;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    .content{
        width: 100%;
        height: 80vh;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .code-snippet__container{
        width: 100%;
        overflow-x: auto;
        position: relative;
        z-index: 0;
    }
    .code{
        width: 100%; 
        height:max-content; 
        border:0; 
        display: block;
    }
    a{
        font-size: 10px;
    }
    .sidebar_item > button > img{
        margin-right: 0.4rem;
    }
}
