@import "./library/component.css";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;

}
body{
    background-color: #EFF6FF;
}

.navbar{
    background-color: #111827;
    box-shadow: 0 8px 30px -2px;
}

.page{
    min-height: 100vh;
    width:80%;
    margin: auto;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.heading{
    font-size: 30px;
    font-weight: bold;
    word-spacing: 2px;
    line-height: 1.4;
}

#import-page{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    background-image: var(--buttons-gradient); 
    background-size: 300%;
    animation: bg-animation 20s infinite alternate;
}

.import__container{
    width:100%;
    margin: 0 1rem;
    padding:var(--speed-md);
    border-style: solid;
    border-radius: 0.5rem;
    border-color: #FDE68A;
}

.content{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.code_snippet{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#card{
    margin: var(--padding-md);
    font-size: 13px;
    padding:var(--padding-md);
    justify-content: space-evenly;
    border-style: none;
    border-radius: 1rem;
    background-color: #EDE9FE;
    box-shadow: 0 8px 6px -2px #C4B5FD;
}

.code-snippet__container{
    width: 95%;
    height: max-content;
    overflow-x: auto;
    margin: 0.5rem 0;
}

.code{
    width: 100%; 
    padding: 0;
    border:0; 
    display: block;
    z-index: 1;
}

/*  page 2 starts here */


.top-btn button{
    background-color: blue;
    transition: 300ms;
    transition-property: all;
}

.top-btn a > button:hover{
    padding: 0rem 4rem;
    background-color: #EF4444;
}


.showcase__container {
    margin-top: var(--padding-md);
    padding: var(--padding-md);
    height: max-content;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: none;
    border-radius: 1rem;
}

.showcase__container.avatar{
    background-color: #E0E7FF;
    box-shadow: 0 8px 6px -2px #A5B4FC;
}

.showcase__container.alerts{
    background-color: #4c94ff;
    box-shadow: 0 8px 6px -2px #93C5FD;
}

.showcase__container.buttons{
    background-color: #F9FAFB;
    box-shadow: 0 8px 6px -2px #3B82F6;
    flex-wrap: wrap;

}

.showcase__container .neutral-env{
    padding: var(--padding-md);
    margin: var(--padding-sm);
    background-color: white;
    border-style: none;
    border-radius: 0.8rem;
    box-shadow: 0 8px 6px -2px #60A5FA;

}

.demo{
    display: flex;
    flex-direction: column;
}

.demo .description-avatar{
    margin-top: 2rem;
    height:max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.txt{
    word-spacing: 4px;
    line-height: 2;
}

.btn{
    margin:var(--padding-sm);
}

.syntax{
    display: inline;
    padding: 0rem 0.3rem 0.1rem 0.3rem;
    border-radius: 0.3rem;
    background-color: #A5B4FC;
    font-weight: bold;
    font-family: var(--txt-font-secondary);
}

.highlight{
    display: inline;
    padding: 0rem 0.3rem 0.1rem 0.3rem;
    border-radius: 0.3rem;
    background-color: #374151;
    color: white;
    font-weight: bold;
}


#buttons-page .heading{
    background-image: var(--buttons-gradient);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 3.5rem;
    background-size: 400%;
    animation: bg-animation 5s infinite alternate;

}

.separator.buttons{
    width: 100%;
    background-color: #6366F1;
    border-radius: 1rem;
}


@media all and (max-width: 740px){

    .heading{
        font-size: 18px;
    }

    .navbar{
        border-radius: 0;
        width: 100%
    }

    .sidebar_container{
        margin: 0;
        width:100%;
    }

    .import__container{
        border-width: 0.1rem;
        border-color: #BFDBFE;
        margin-top: 2rem;
    }

    .txt{
        font-size: 0.6rem;
    }

    .sidebar{
        border-radius: 0;;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: scroll;
    }

    .content{
        width: 100%;
        height: 80vh;
        padding: 0.5rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .code-snippet__container{
        width: 100%;
        overflow-x: auto;
        position: relative;
        z-index: 0;
    }

    .code{
        width: 100%; 
        height:max-content; 
        border:0; 
        display: block;
    }

    .code_snippet #card .description{
        font-size: 0.6rem;
    }

    a{
        font-size: 10px;
    }

    .sidebar_item > button > img{
        margin-right: 0.4rem;
    }

    .showcase__container{
        flex-direction: column;
    }

    .showcase__container .neutral-env{
        width: 90%;
    }

    #buttons-page .heading{
        font-size: 2rem;
    }
}