@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

:root{

    /* color palatte */
    --primary: #1F2937;
    --primary-hover: #4B5563;
    --secondary: #5B21B6;
    --secondary-hover: #8B5CF6;
    
    /* padding styles */
    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    
    /* background color options */
    --background-color: #EFF6FF;
    --bg-dark: #1F2937;

    /* text styles */
    --txt-font-primary:'Open Sans', sans-serif;
    --txt-font-secondary:'IBM Plex Mono', monospace;
    --txt-font-tertiary: 'Work Sans', sans-serif;  
    --txt-font-weird:'Monofett', cursive;
    --txt-primary: #6366F1; 

    /* transition speed */
    --speed-md: 250ms;
    --speed-fast: 150ms;

    /* avatar sizes */
    --xs: 4rem;
    --s: 6rem;
    --md: 8rem;
    --l: 11rem;
    --xl: 13rem;

    /* alert */
    --alert-border-radius: 0.8rem;

    --alert-default-bg-color: #001f3f;
    --alert-default-color: #7FDBFF;

    --alert-warning-bg-color: #FF851B;
    --alert-warning-color: #FF4136;

    --alert-success-bg-color: #10B981;
    --alert-success-color: #01FF70;

    --alert-default-shadow: #0074D9;
    --alert-warning-shadow: #EF4444;
    --alert-success-shadow: #01FF70;
    

    
    

}

/* -----------------------------Global Styles------------------------- */

body{
    font-family: var(--txt-font-primary);
}

/* --------------------------------------------------------------------- */

/* ----------------anchor tag styles------------------------------------ */

a{
    font-size: 13px; 
    color:black;
    text-decoration: none;
    font-family: var(--txt-font-secondary);  
    font-weight: bold;
}

/* --------------------------------------------------------------------- */

/* ---------------Button styles----------------------------------------- */
.btn{
    border-style: none;
    padding: var(--padding-md);
    color: white;
    box-shadow: 0 8px 6px -2px #DDD6FE; 
    min-height: 50px;
    min-width: 70px;
    border-radius: 0.5rem;
    transition-property: all;
    transition-timing-function: ease-in;
    cursor: pointer;
}

.btn:hover{
    color:#F472B6;
    padding: var(--padding-lg);
}

.btn-primary{
    margin-right: var(--padding-md);
    background-color: var(--primary);
    transition: var(--speed-fast);
}

.btn-secondary{
    background-color: var(--secondary);
    transition: var(--speed-fast);
}

.btn-primary:hover{
    background-color: var(--primary-hover);
}

.btn-secondary:hover{
    background-color: var(--secondary-hover);
}

.caps{
    font-size: 5rem;
    text-shadow: 4px 1px 1px #A78BFA,
    4px 2px 1px #A78BFA,
    4px 3px 1px #A78BFA,
    4px 4px 1px #A78BFA
    
}
.caps2{
    font-size: 1rem;
    font-weight:600;
    text-shadow: 4px 1px 1px #DDD6FE,
    4px 2px 1px #F472B6,
    4px 3px 1px #F472B6,
    4px 4px 1px #F472B6
    
}

/* ---------------------------------------------------- */

/* ----------------------image Logo Style-------------- */

.img-logo {
    height: 40px;
}

/* --------------------------------------------------- */

/* -------------------NavBar Styles-------------------- */

.navbar{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    padding: var(--padding-md);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-dark);
    border-style: none;
    border-radius: 1rem;
    box-shadow: 0 8px 6px -2px #6B7280;
}

.nav_item{
    padding: var(--padding-md);
    color: white;
}

/* ----------------------------------------------------- */

.title{
    color:white;
    font-weight: bold;
}


/* --------------------SideBar---------------------------- */ 
/* TIP: for optimal result use buttons inside of the sidebar  */

.sidebar_container{
    z-index: 2;
    margin: var(--padding-md);
}
.sidebar{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: var(--padding-sm);
    border-style: none;
    background-color: #F3F4F6;
    border-radius: 1rem;
    box-shadow: 0 8px 6px -1px #6B7280;

}
.sidebar_item{
    padding: var(--padding-sm);
}

.sidebar_item > button{   /* buttons inside of the sidebar can be used to navigate */
    padding: var(--padding-sm);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    height: 50px;
    width: 100%;
    border-style: solid;
    border-color: #374151;
    background-color: transparent;
    border-radius: 0.5rem;
    transition: var(--speed-md);
    transition-property: all;
    font-size: 20px;
}

.sidebar_item > button:hover{
    background-color: #DBEAFE;
}

.sidebar_item > button > img{  /* this is for a logo if added beside the text */
    height: 20px;
}

/* ------------------------------------------------------------------------------------------------------- */


/* -----------------------------------------------avatar style ------------------*/
.avatar__container{
    position:relative;
    width:max-content;
    height: max-content;
}

.avatar-img{
    border-radius: 50%;
    height: 100%;
}
 
.active{
    border: 5px solid #10B981;

}

.inactive{
    border: 5px solid #9CA3AF;
}

.dnd{
    border: 5px solid #F59E0B;
}

.avatar-xs > img{
    width:var(--xs);
    height: var(--xs);
}

.avatar-s > img{
    width:var(--s);
    height: var(--s);
}

.avatar-md > img{
    width:var(--md);
    height: var(--md);
}

.avatar-l > img{
    width:var(--l);
    height: var(--l);
}

.avatar-xl > img{
    width:var(--xl);
    height: var(--xl);
}

/* --------------------------------------------------------------------------------------- */


/* alert styles */

.alert{
    padding: var(--padding-md);
    height:max-content;
    border-style: none;
    border-radius: var(--alert-border-radius);
    background-color: var(--alert-default-bg-color);
    color: var(--alert-default-color);
    box-shadow: 0px 8px 6px -1px var(--alert-default-shadow);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.alert .message{
    font-family: var(--txt-font-secondary);
    font-weight: bold;
    font-size: 14px;
}

.alert img {
    max-height: 25px;
    padding-right: 0.4rem;
}

.alert-warning{
    background-color: var(--alert-warning-bg-color);
    box-shadow: 0px 8px 6px -1px var(--alert-warning-shadow);
}

.alert-warning .message{
    color: var(--alert-warning-color);
}

.alert-success{
    background-color: var(--alert-success-bg-color);
    color: var(--alert-success-color);
    box-shadow: 0px 8px 6px -1px var(--alert-success-shadow);
}